[submodule "libultraship"]
	path = libultraship
	url = https://github.com/JRickey/libultraship.git
	branch = ssb64
[submodule "torch"]
	path = torch
	url = https://github.com/TechnicallyComputers/Torch.git
	branch = ssb64
[submodule "decomp"]
	path = decomp
	url = https://github.com/TechnicallyComputers/ssb-decomp-re.git
	branch = port-patches
[submodule "third_party/libjuice"]
	path = third_party/libjuice
	url = https://github.com/paullouisageneau/libjuice.git
[submodule "recomp-net"]
	path = recomp-net
	url = https://github.com/TechnicallyComputers/recomp-net.git
	branch = feat/rollback
[submodule "retcomm-rbengine"]
	path = retcomm-rbengine
	url = https://github.com/TechnicallyComputers/retcomm-rbengine.git
